# Cloudflare Worker Configuration
# Self-Hosted Expo Updates Server

name = "expo-updates-server"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[assets]
directory = "./public"
binding = "ASSETS"

[[d1_databases]]
binding = "DB"
database_name = "expo-updates"
database_id = "22fc361c-d8d8-4b9b-be2c-da2cfa2747c8"

[[r2_buckets]]
binding = "R2"
bucket_name = "expo-updates"

[vars]
PUBLIC_URL = "https://expo-updates.ruqqq.workers.dev"

[dev]
port = 3000
